.talk-bubble {
	margin: 40px;
    display: inline-block;
    position: relative;
	width: 200px;
	height: auto;
	background-color: lightyellow;
}
.chat-border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}
.tri-right.chat-border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
    right: auto;
    top: auto;
	bottom: -40px;
	border: 22px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
    right: auto;
    top: auto;
	bottom: -25px;
	border: 22px solid;
	border-color: lightyellow transparent transparent lightyellow;
}
/* talk bubble contents */
.talktext{
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}
.talktext p{
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}